﻿@model paginaMisministros.Models.Titulo

@{
    ViewData["Title"] = "AgregarTitulo";
}

<h1>Registro de Formacion Academica</h1>

<h4>Titulo</h4>
<hr />
<div class="row">

    
    <div class="col-md-4">
        <form asp-action="AgregarTitulo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <
            <div class="form-group">
                <label asp-for="GradoAcademico" class="control-label"></label>
                <input asp-for="GradoAcademico" class="form-control" />
                <span asp-validation-for="GradoAcademico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CentroEstudio" class="control-label"></label>
                <input asp-for="CentroEstudio" class="form-control" />
                <span asp-validation-for="CentroEstudio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnioTitulo" class="control-label"></label>
                <input asp-for="AnioTitulo" class="form-control" />
                <span asp-validation-for="AnioTitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oferentecedula" class="control-label"></label>
                <input asp-for="Oferentecedula" class="form-control" value="@ViewBag.Cedula"/>
                <span asp-validation-for="Oferentecedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
