﻿@model IEnumerable<paginaMisministros.Models.Oferente>

@{
    ViewData["Title"] = "Buscar";
}

<h1>Buscar</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form action="Buscar">

    @Html.TextBox("id","" ,new {@class="form-control"})
    <input type="submit"  class="btn btn-secondary" value=" Buscar"/>

</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puesto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Puesto)
                    </td>
                    <td>
                        @Html.ActionLink("Editar ofrente", "Actualizar", new {id=item.cedula }) |
                       
                        @Html.ActionLink("Eliminsar oFERENTE", "Eliminar oferente", new { id=item.cedula })
                    </td>
                </tr>
            }

        }
        else
        {

            <div><h3>No se encontro el usuario</h3></div>


        }
        </tbody>
</table>
