﻿@model paginaMisministros.Models.Oferente

@{
    ViewData["Title"] = "Registro";
}
<div class="logo">

   <img src="~/images/logo.png"/>


</div>


<h1>Registro</h1>


<hr />
<div class="row contenedor">
    <div class="col-md-16">
        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cedula" class="control-label"></label>
                <input asp-for="cedula" class="form-control" />
                <span asp-validation-for="cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">


                <label asp-for="PretensionSalarial" class="control-label"></label>
                <input  asp-for="PretensionSalarial"  class="form-control" placeholder="0-100000000"/>
                <span asp-validation-for="PretensionSalarial"class="text-danger"></span>
            </div>


            <div class="form-group">
               <label>Seleccione un Ministerio  </Label><br />
                @Html.DropDownList("Opcion",(List<SelectListItem>)ViewBag.Ministerios)
            </div>

             <div class="formacion-academica">

             <h4>Informacion Academica</h4>
        <table  id="tbUniversidad" class="contenedor-c">

            <tr><th>Grado Academico</th><th>Centro de estudio</th><th>Anio que obtuvo el titulo</th><th><button onclick="AgregarTitulos()" class="btn btn-primary">Agregar formacion  Academico</button></th></tr>

                    @for (var j = 0; j < Model.listaUniversidad.Count; j++)
                    {
                      <tr><td>@Html.EditorFor(e=>e.listaUniversidad[j].GradoAcademico, new{HtmlAttributes=new {@class="form-control"} })</td>
                       <span  asp-validation-for="@Model.listaUniversidad[j].GradoAcademico"class="text-danger"></span>  

                       <td>@Html.EditorFor(e=>e.listaUniversidad[j].CentroEstudio, new {HtmlAttributes=new{@class="form-control"}})</td>
                     <span asp-validation-for="@Model.listaUniversidad[j].CentroEstudio"class="text-danger"></span>

                     <td>@Html.EditorFor(e=>e.listaUniversidad[j].AnioTitulo,new {HtmlAttributes=new {@class="form-control"}})</td>
                      <span asp-validation-for="@Model.listaUniversidad[j].AnioTitulo"class="text-danger"></span>

                        <td>  <button   id="btnremoveC-@j" type="button" class="btn btn-danger btn-sm visible"
                                onclick="DeleteItem(this)">
                                        Eliminar
                                    </button>
                                </td>


                   </tr>

                    }
                  </table>

                  </div>

                  <div class="exp-laboral" >
            <table  id ="tabla-trabajo">
                <h4>Experiencia laboral</h4>
                 <tr class=""><th>Nombre de la Empresa</th><th>Anio de Inicio</th><th>Anio fin </th><th><button onclick="AddExpLaboral(this)" class="btn btn-primary">Agregar experiencia laboral</button></th></tr>

                    @for (var j = 0; j < Model.listexperiencia.Count; j++)
                    {


                <tr style="width:25px"><td>@Html.EditorFor(e=>e.listexperiencia[j].NombreEmpresa,new {HtmlAttributes=new {@class="form-control"}})</td>
                <span asp-validation-for="@Model.listexperiencia[j].NombreEmpresa"class="text-danger"></span>


                <td>@Html.EditorFor(e=>e.listexperiencia[j].AnioInicio,new{HtmlAttributes= new {@class="form-control"}})</td>
                <span asp-validation-for="@Model.listexperiencia[j].AnioInicio"class="text-danger"></span>


                <td>@Html.EditorFor(e=>e.listexperiencia[j].AnioFin,new{HtmlAttributes=new {@class="form-control"}})</td>
                <span asp-validation-for="@Model.listexperiencia[j].AnioFin"class="text-danger"></span>

                  <td>  <button   id="btnremoveC-@j" type="button" class="btn btn-danger btn-sm visible"  onclick="DeleteItem(this)"> Eliminar  </button>
                                </td>

                </tr>

                    }

        </table>
        </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>




    </div>
</div>


<script src="~/js/site.js"></script>