html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
   background-color: #4392dd;
  margin-bottom: 40px;
}
td{
    margin-left:2px;
    border:2px solid black
}
form, table {
    cursor:pointer;
   
}

.contenedor {
      border:2px solid white;
   border-radius:12px;
    position:absolute;
    margin-left:50px;
    height: auto
}

.formacion-academica {

    margin-bottom:7px;

}
.logo img {
    overflow: hidden;
    width: 150px;
    height: 140px;
    cursor: pointer
}
/*  Estilos para los encabezados*/
th {
border:2px solid green;
background-color:darkslategray;


}
button {
    cursor:pointer;
    width :100%;
    height:100%
}